@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0; line-height: normal;

}

#explore-btn {
  font-size: 5ex;
  color:bisque;
  padding: 1ex;
  background-color: #171717;
  border-radius: 10;
  margin-top: 100px
}
